@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html body{
    height: 100vh;
}
section{
    display: flex;
    justify-content: space-between;
}
.container{
    width: 50%;  
}

.content.active{
    display: block;
}

.content{
display: none;
}



.item{
    text-decoration: none;
    color: #333;
    padding: 10px;
    border: 2px solid rgb(60, 200, 255);
    border-radius: 20px;
    text-align: center;
    margin: 10%;
}

.item.active{
    background-color: #50f4c080;
   
}
a{
    color: #333;
    text-decoration: none;

}

